@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --mainOrange: #ff770f;
    --fontBlack: rgb(77, 75, 75);
    --heading: Berkshire Swash, cursive, serif;
    --title: raleway, sans-serif;
}

/* Header */
header {
    background-color: white;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    align-items: center;
}

.logo img {
    width: 200px;
}

header .left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .toggle-icon {
    background-color: var(--mainOrange);
    height: 40px;
    width: 40px;
    text-align: center;
    align-content: center;
    border-radius: 3px;
    cursor: pointer;
    display: none;
}

header .fa-bars, header .fa-xmark {
    color: white;
    font-size: 20px;
}

/* Navbar */
header .right {
    width: 50%;
}

header .right ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .right ul li a {
    color: var(--fontBlack);
    font-size: 15px;
    transition: all 0.3s;
}

header .right ul li a.active {
    color: var(--mainOrange);
}

header .right ul li a.org-btn {
    padding: 15px 35px;
    background-color: var(--mainOrange);
    border-radius: 30px;
    color: white;
    font-size: 15px;
    transition: all 0.3s;
}

header .right ul li a.org-btn:hover {
    background-color: #944a12;
}

/* Section 1 */
.sec1{
    height: 100vh;
    width: 100%;
    background: url(../images/backgroundbody.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.sec1 .content h1{
    font-family: var(--heading) ;
    font-weight: 500;
    font-size: 150px;
    margin: 30px 0;
}

.sec1 .content h3{
    color: var(--mainOrange);
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 30px;
}

.sec1 .content h4{
    font-weight: 500;
    font-size: 25px;
    position: relative;
}

.sec1 .content  h4::before{
    content: '';
    position: absolute;
    background-color: black;
    left: -15%;
    top: 50%;
    width: 40%;
    height: 1px;
}

.sec1 .content h4::after{
    content: '';
    position: absolute;
    background-color: black;
    right: -15%;
    top: 50%;
    width: 40%;
    height: 1px;
}

/* Secrtion 2 */
.sec2{
    margin-top: 100px;
    padding: 9% 8%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sec2 .poster{
    height: 430px;
    width:300px;
    margin-left: 40px;
    background: url(../images/sec2back1.jfif);
    border-radius: 5px;
    background-size: cover;
}

.sec2 div:nth-child(3){
    min-width: 350px;
    background: url(../images/sec2back2.jpg);
    background-size: cover;
    background-position: 80%;
    box-shadow: 0 30px 30px rgb(196, 196, 196);
}

.sec2 .content{
    width: 100%;
    max-width: 400px;
    min-width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sec2 .content h5{
    font-family: var(--heading);
    font-size: 20px;
    font-weight: 300;
}

.sec2 .content h1{
    font-family: var(--heading);
    font-size: 40px;
}

.sec2 .content h4{
    font-family: var(--title);
    font-size: 28px;
    font-weight: 600;
}

.sec2 .content p{
    font-size: 16px;
    line-height: 1.6em;
    color: rgb(92, 92, 92);
}

.sec2 .org-btn {
    display: inline-block;
    padding: 15px 35px;
    background-color: var(--mainOrange);
    color: white;
    font-size: 15px;
    border-radius: 30px;
    font-weight: 500;
    text-align: center;
    transition: all 0.3s ease;
    width: 50%;
    min-width: 200px;
}

.sec2 .org-btn:hover {
    background-color: #944a12;
    transform: translateY(10px);
}

.sec2 .poster{
    text-align: center;
    position: relative;
}

.sec2 .poster .text{
    position: absolute;
    bottom: 10%;
    width: 100%;
}

.sec2 .poster .text h1{
    font-family: var(--heading);
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 20px;
}

.sec2 .poster .text h4{
    font-family: var(--title);
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}

/* Section 3 */
.sec3{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    align-items: center;
}

.sec3 .content{
    padding: 4%;
    text-align: center;
    width: 70%;
}

.sec3 .content img{
    width: 110px;
}

.sec3 .content h1{
    margin: 20px;
    font-family: var(--heading);
    font-size: 45px;
    font-weight: 500;
}

.sec3 .content h4{
    margin: 35px 0 20px 0;
    font-family: var(--title);
    font-size: 30px;
    font-weight: 600;
}

.sec3 .content p{
    font-size: 15px;
    color: rgb(92, 92, 92);
    margin-top: 20px;
    line-height: 1.5rem;
}

/* Section 4 */
.sec4 {
    background: url(../images/backgroundsec4.jpg) center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 0 100px;
}

.sec4 .menu {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    transform: translateY(-200px);
}

.sec4 .menu .content{
    background: #fff8f3;
    padding: 40px 25px;
    text-align: center;
    align-content: center;
    border: 1px solid var(--mainOrange);

}

.sec4 .menu .image {
    background-color: #fff;
    padding: 40px 25px;
    text-align: center;
    border: 1px solid var(--mainOrange);
}

.sec4 .menu .image img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    overflow: hidden;
}

.sec4 .menu h3 {
    font-family: var(--heading);
    font-size: 22px;
    margin-bottom: 10px;
}

.sec4 .menu p {
    font-size: 15px;
    color: rgb(92, 92, 92);
    line-height: 1.5rem;
    margin-bottom: 20px;
}

.sec4 .menu span {
    font-size: 28px;
    color: rgb(41, 41, 41);
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 8px 0;
}

.sec4 .menu-btn {
    background: var(--mainOrange);
    color: #fff;
    padding: 15px 35px;
    border-radius: 50px;
    text-decoration: none;
    transition: .3s;
}

.sec4 .menu-btn:hover {
    background-color: #944a12;
    transition: 0.5s;
    transform: translateY(10px);
}

/* Section 5 */
.sec5{
    padding: 85px 5%;
}

.sec5.sec2 .poster{
    height: 430px;
    width: 50%;
    border-radius: 5px;
}

.sec5.sec2 .content h3{
    font-family: var(--title);
}

.sec5.sec2 .poster h1{
    position: absolute;
    bottom: 10%;
    width: 100%;
    color: #fff;
    font-family: var(--heading);
}

.sec5.sec2 .content{
    margin-left: 50px;
    min-width: 45%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sec5.sec2 .org-btn{
    width: fit-content;
}
 /* Footer */
footer{
    background: url(../images/backgroundsec4.jpg);
    background-size: cover;
    color: white;
    text-align: center;
    padding: 7% 0 3% 0;
    margin-top: 5%;
}

footer h1{
    font-family: var(--heading);
    font-size: 45px;
    font-weight: 300;
    margin-bottom: 30px;
}

footer p{
    font-size: 15px;
}

/* Halaman Menu */
/* Section 1 */
.msec1{
    padding: 0 8%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    width: 100%;
    background-size: cover;
    background: url(../images/menuback.jpg) center/cover;
}

.msec1 h1{
    font-size: 70px;
    font-family: var(--heading);
    font-weight: 500;
    margin-bottom: 20px;
    color: #fff;
}

.msec1 h2{
    font-family: var(--heading);
    color: #fff;
}

/* Section 2 */
.sec2{
    padding: 0 8%;
}

.msec2 .item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15% 0;
    width: 100%;
}

.msec2 .item .dish-img img{
    height: 50vw;
    width: 35vw;
    border-radius: 30px;
    box-shadow: 30px 30px 30px rgb(182, 182, 182);
}

.msec2 .item .dish-content{
    width: 40vw;
}

.msec2 .dish-content h2{
    font-family: var(--heading);
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 40px;
}

.msec2 .dish-content .item-price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0;
}

.msec2 .dish-content .item-price div:nth-child(2){
    margin-left: 50px;
}

.msec2 .dish-content .item-price h3{
    font-family: var(--title);
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 10px;
}

.msec2 .dish-content .item-price p{
    font-size: 15px;
    color: rgb(90, 90, 90);
    font-weight: 500;
}

/* Halaman About */
/* Section 1 */
.asec1{
    padding: 0 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    width: 100%;
    background-size: cover;
    background: url(../images/aboutback.jpg) center/cover;
}

.asec1 h1{
    font-size: 70px;
    font-family: var(--heading);
    font-weight: 500;
    margin-bottom: 20px;
}


.asec2{
    margin-top: -140px;
    width: 100%;
    display: flex;
    gap: 60px;
    padding: 100px 60px;
    align-items: center;
}

.about-text{
    width: 50%;
}

.about-text h2{
    font-family: var(--heading);
    font-size: 28px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 20px;
}

.about-text p{
    font-family: var(--title);
    font-size: 14px;
    color: rgb(90, 90, 90);
    line-height: 1.6;
    margin-bottom: 20px;
}

.highlight span{
    font-family: var(--heading);
    font-size: 36px;
    color: var(--mainOrange);
    float: left;
    padding-right: 8px;
    line-height: 30px;
}

.about-images{
    width: 50%;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.big-img img{
    width: 250px;
    height: 420px;
    object-fit: cover;
    border-radius: 20px;
}

.small-img{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.small-img img{
    width: 220px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

/* Halaman Contact */
/* Section 1 */
.csec1{
    padding: 0 8%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    width: 100%;
    background-size: cover;
    background: url(../images/contactback.jpg) center/cover;
}

.csec1 h1{
    font-size: 70px;
    font-family: var(--heading);
    font-weight: 500;
    margin-bottom: 20px;
    color: #fff;
}

.csec1 h3{
    font-size: 50px;
    font-family: var(--title);
    font-weight: 400;
    color: #fff;
}

/* Section 2 */
.location{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    padding: 100px 60px;
}

.map-container{
    width: 60%;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.map-container iframe{
    width: 100%;
    height: 100%;
    border: none;
}

.contact-btn {
    display: inline-block;
    padding: 15px 35px;
    background-color: var(--mainOrange);
    color: white;
    font-size: 15px;
    border-radius: 30px;
    font-weight: 500;
    text-align: center;
    transition: all 0.3s ease;
    width: fit-content;
    min-width: 200px;
}

.contact-btn:hover {
    transform: translateY(10px);
    background-color: #944a12;
}

/*Halaman Order*/

.order-page {
    max-width: 800px;
    margin: 140px auto 80px auto;
    padding: 40px 30px;
    background: #fff;
    border-radius: 14px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.order-header {
    text-align: center;
    margin-bottom: 35px;
}

.order-header h1 {
    font-size: 32px;
    margin-bottom: 8px;
}

.order-header p {
    color: #666;
}

.order-form .form-group {
    margin-bottom: 18px;
}

.order-form label {
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
}

.order-form input,
.order-form textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.order-form textarea {
    resize: vertical;
    min-height: 80px;
}

.order-form select {
    width: 100%;
    padding: 10px 12px;
    border-radius: 6px;
    border: 1px solid #ddd;
    font-size: 14px;
    background: #fff;
}

.success-msg {
    background: #e8fff0;
    color: #1e7e34;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 6px;
    text-align: center;
}

.order-item {
    display: grid;
    grid-template-columns: 1fr 120px 42px;
    gap: 10px;
    margin-bottom: 14px;
}

.order-item select,
.order-item input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.remove-menu {
    background: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.add-menu {
    width: 100%;
    margin: 18px 0 25px 0;
    padding: 12px;
    background: transparent;
    border: 2px dashed orange;
    color: orange;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

.add-menu:hover {
    background: rgba(255,165,0,0.05);
}

.error-msg {
    background: #ffe6e6;
    color: #a00;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 6px;
    text-align: center;
}

/* CheckBox */

.menu-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 14px;
    margin-bottom: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background: #fafafa;
    transition: all 0.25s ease;
}

.menu-item:hover {
    background: #fff6f0;
    border-color: #ff9f43;
    transform: translateY(-2px);
}

.menu-item input[type="checkbox"] {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.menu-item strong {
    flex: 1;
    font-size: 15px;
    color: #333;
}

.menu-item span,
.menu-item small {
    color: #777;
    font-size: 13px;
}

.menu-item input[type="number"] {
    width: 70px;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 14px;
    transition: border 0.2s ease;
}

.menu-item input[type="number"]:focus {
    outline: none;
    border-color: #ff9f43;
}

/* Responsive order */
@media (max-width: 600px) {
    .menu-item {
        flex-wrap: wrap;
        gap: 8px;
    }

    .menu-item input[type="number"] {
        width: 100%;
    }
}

/* Tombol Order di Halaman Menu */
.menu-order-btn {
    margin-top: 30px;
    text-align: center;
}

.menu-order-btn .org-btn {
    display: inline-block;
    padding: 14px 36px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    text-decoration: none;
}

.menu-order-btn .org-btn {
    display: inline-block;
    padding: 15px 35px;
    background-color: var(--mainOrange);
    color: white;
    font-size: 15px;
    border-radius: 30px;
    font-weight: 500;
    text-align: center;
    transition: all 0.3s ease;
    width: 25%;
    min-width: 200px;
}

.menu-order-btn .org-btn:hover {
    background-color: #e67600;
    transform: translateY(10px);
}

.menu-db-page {
    padding: 70px 20px;
    background: #fafafa;
}

.menu-db-container {
    max-width: 1000px;
    margin: 0 auto;
}

.menu-db-card {
    background: #ffffff;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 18px 45px rgba(0,0,0,0.08);
}

.menu-db-content {
    text-align: center;
}

.menu-db-title {
    font-family: var(--heading);
    font-size: 30px;
    margin-bottom: 12px;
    color: #222;
}

.menu-db-logo {
    width: 120px;
    margin: 0 auto 35px auto;
    display: block;
}

/* item menu */
.menu-db-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 18px 0;
    border-bottom: 1px solid #eee;
    text-align: left;
}

.menu-db-item:last-child {
    border-bottom: none;
}

.menu-db-info h3 {
    font-family: var(--heading);
    margin: 0 0 6px 0;
    font-size: 18px;
    color: #222;
}

.menu-db-info p {
    font-family: var(--title);
    margin: 0;
    font-size: 14px;
    color: #666;
    line-height: 1.5;
    max-width: 520px;
}

.menu-db-price {
    font-family: var(--fontBlack);
    font-size: 18px;
    font-weight: 700;
    color: #111;
    white-space: nowrap;
}

.menu-db-item:hover {
    background: #fff7ed;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    transition: 0.3s;
}

.menu-db-action {
    margin-top: 35px;
    text-align: center;
}

/* Responsive Ipad */
@media only screen and (max-width:950px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 0;
    }

    header .left {
        padding: 0;
        width: 100%;
    }

    header .toggle-icon {
        display: block;
    }

    header .right {
        width: 100%;
        background-color: whitesmoke;
    }

    header .right ul {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    header .right ul li {
        width: 100%;
        border-bottom: 1px solid rgb(192, 192, 192);
    }

    header .right ul li a {
        display: block;
        width: 100%;
        padding: 15px 5%;
    }

    header .right ul li a:hover {
        color: var(--mainOrange);
    }

    header .right ul li a.org-btn {
        display: none;
    }

    header .toggle-icon .icon.hide {
        display: none;
    }

    header .right.hide {
        display: none;
    }
}

/* Responsive HP */
@media only screen and (max-width:700px) {
    header .logo img {
        width: 180px;
    }

    header .toggle-icon {
        height: 30px;
        width: 30px;
    }

    header .fa-bars, header .fa-xmark {
        font-size: 15px;
    }

    header .right ul li a {
        padding: 10px 5%;
    }
}